<div *ngIf="filiere!==null">
    <h4>Etes-vous sûr de vouloir supprimer la filiere <span>{{filiere.id}} - {{filiere.libelle | uppercase}}</span> ?</h4>
    <button 
        type="button" 
        class="btn btn-primary" 
        data-toggle="modal" 
        data-target="#exampleModal"
        (click)="handleClick()"
    >
    OUI
    </button>
    <a [routerLink]="['/filiere/'+filiere.id]">NON</a>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filière supprimée !</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                >
                D'accord
                </button>
            </div>
        </div>
    </div>
</div>