<div *ngIf="filiere !== null">
    <h4>{{filiere.id}} - {{filiere.libelle | uppercase}}</h4>
    <p>Modules:</p>
    <ul>
        <li *ngFor="let module of filiere.modules">{{module.id}} - {{module.libelle}}</li>
    </ul>
    <p>Stagiaires:</p>
    <ul>
        <li *ngFor="let personne of filiere.stagiaires">{{personne.id}} - {{personne.prenom}} {{personne.nom}}</li>
    </ul>
    <br>
    <a [routerLink]="['/filiere/update/'+filiere.id]">Mettre à jour</a> - <a [routerLink]="['/filiere/delete/'+filiere.id]">Supprimer</a>
</div>