<form [formGroup]="filiereCreateForm">
    <label>
        <h4>Libelle</h4>
        <input type="text" fromControlName="libelle"/>
    </label>

    <section>
        <h4>Modules:</h4>
        <div *ngFor="let module of "></div>
    </section>

    <label>
        Module:
        <input type="checkbox" *ngFor()/>
    </label>
    <br>
    <label>
        Stagiaires:
    </label>
</form>